body::before {
  display: block;
  content: '';
}

.nav-menu {
  color: white;
}

.photo-card {
 transition: all 0.3s;
 box-shadow: 9px 9px 10px 3px rgba(0,0,0,0.44);
}

.photo-card:hover {
  transform: scale(1.1);
  /* box-shadow: 4px 4px 60px -20px rgba(255,0,0,1); */
  box-shadow: 8px 8px 20px 1px rgb(0, 60, 255);
}

.article-section {
  background-color: rgb(223, 222, 222);
}
