body::before {
  display: block;
  content: '';
}

.nav-menu {
  color: white;
}

.photo-card {
 transition: all 0.3s;
}

.photo-card:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 60px -20px rgba(255,0,0,1);
}

.article-section {
  background-color: rgb(223, 222, 222);
}
